[Desktop Entry]
Name=Flashcards
Name[de]=Lernkarteiprogramm
Name[fr]=Cartes-mémoires
Comment=Anki
Exec=anki
TryExec=anki
Icon=anki
Categories=Education;Languages;KDE;Qt;
Terminal=false
Type=Application
Version=1.0
MimeType=application/x-apkg;application/x-anki;
