[Desktop Entry]
Name=Database
Name[de]=Datenbanken
Name[fr]=Bases de données
Comment=LibreOffice Base
Version=1.0
Terminal=false
#Icon=libreoffice5.2-base
Icon=ooo-base
Type=Application
Categories=Office;Database;X-Red-Hat-Base;X-MandrivaLinux-MoreApplications-Databases;
Exec=libreoffice5.2 --base %U
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
