[Desktop Entry]
Name=Office Suite
Name[de]=Bürosuite
Name[fr]=Suite bureautique
Comment=Libre Office
Version=1.0
Terminal=false
NoDisplay=false
#Icon=libreoffice5.2-startcenter
Icon=applications-office
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=libreoffice5.2 %U
MimeType=application/vnd.openofficeorg.extension;x-scheme-handler/vnd.libreoffice.cmis;
