<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
<head>
<title>It works!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen" type="text/css" title="Mon style"
href="style.css" />
</head>

<body><!-- début de la page -->
<br />
<br />
<br />
<h1>It works!</h1>
<div class="centrer">
<a href="http://www.microlinux.fr"><img src="pingouin_ayo_small.gif"
alt="http://www.microlinux.fr" title="http://www.microlinux.fr" /></a>
</div>

<!-- fin de la page --></body>
</html>

