body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("background.jpg");	
}

h1 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 600%;
	text-align: center;
	color: #b0b0b0;
}

a	img{
	border: none;
}

a	{
	text-decoration: none;
}

.centrer
{
	text-align: center;
}
