[Desktop Entry]
Name=Formula Editor
Name[de]=Formeleditor
Name[fr]=Éditeur de formules
Comment=LibreOffice Math
Version=1.0
Terminal=false
NoDisplay=false
#Icon=libreoffice4.4-math
Icon=applications-mathematics
Type=Application
Categories=Office;Spreadsheet;Education;Science;Math;X-Red-Hat-Base;X-MandrivaLinux-Office-Other;
Exec=libreoffice4.4 --math %U
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.oasis.opendocument.formula-template;text/mathml;application/mathml+xml;
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Equation;OpenDocument Formula;Formula;odf;MathML;
InitialPreference=5
StartupWMClass=libreoffice-math
X-KDE-Protocols=file,http,ftp,webdav

Actions=NewDocument;
[Desktop Action NewDocument]
Name=New Formula
Exec=libreoffice4.4 --math
