[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Virtualization
Name[de]=Virtualisierung
Name[fr]=Virtualisation
Comment=VirtualBox
Type=Application
Exec=VirtualBox %U
TryExec=VirtualBox
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
DocPath=file:///usr/share/virtualbox/UserManual.pdf
Icon=virtualbox
Categories=System;
StartupNotify=true
